.env
myenv
Voice-assistant-kb
/graphrag
.venv
reranking.ipynb
setup.sh
qdrant/ains_text_structured.txt
qdrant/ains_data.txt

qdrant/qdrant.ipynb
rag_techniques
qdrant/app.py

qdrant/runnable_script.py
./data
data
AINS_qdrant_talk/app.py
AINS_qdrant_talk/runnable_script.py
AINS_qdrant_talk/qdrant.ipynb
qdrant/.python-version
AINS_qdrant_talk/ains_text_structured.txt
AINS_qdrant_talk/ains_data.txt
qdrant_simple_rag/setup.py

*__pycache__/
*.env
AINS_qdrant_talk/umap_3d_visualization.html
# new folders 
reranker/
knowledge_graph/
Voice-RAG/
