.env
myenv
Voice-assistant-kb
/graphrag
.venv
reranking.ipynb
setup.sh
qdrant/ains_text_structured.txt


qdrant/ains_data.txt

qdrant/ains_data.txt

qdrant/ains_data.txt

qdrant/qdrant.ipynb
rag_techniques
qdrant/app.py


qdrant/quick_guide_qdrant.md




